<h3>11.1</h3>

In [1]:
with open('zoo.py', 'w') as zooFile:
    zooFile.write("def hours():\n\tprint('Open 9-5 daily')")
    
import zoo as zooFile
zooFile.hours()

Open 9-5 daily

<h3>11.2</h3>

In [2]:
import zoo as menagerie
menagerie.hours()

Open 9-5 daily

<h3>Precursor to 16.8</h3>

<p>The directions for 16.8 start in the middle of a chain of directions. In order to prevent 16.8 from throwing errors I added this.</p>

In [3]:
import sqlite3
conn = sqlite3.connect('books.db')
curs = conn.cursor()
curs.execute('''CREATE TABLE books (title VARCHAR(25) PRIMARY KEY, author VARCHAR(25), year INT)''')
ins = 'INSERT INTO books (title, author, year) VALUES(?, ?, ?)'
curs.execute(ins, ('First Book', 'First Author', 2022 ))
curs.execute(ins, ('Second Book', 'Second Author', 2023 ))
conn.commit()
conn.close()

<h3>16.8</h3>

<p>Use the sqlalchemy module to connect to the sqlite3 database 
books.db</p>

In [4]:
import sqlalchemy as sqla
bookEngine = sqla.create_engine('sqlite:///books.db')

<p>Select and print the title column from the book table 
in alphabetical order</p>

In [5]:
titleList = bookEngine.execute('SELECT title FROM books ORDER BY title')
for booktitle in titleList:
    print(booktitle[0])

First Book
Second Book